@font-face {
  font-family: "oswald-medium";
  src: url('/Uzdevums_SandisSirmais/assets/fonts/Oswald-VariableFont_wght.ttf') format("truetype"), url('/Uzdevums_SandisSirmais/assets/fonts/oswald-medium-webfont.woff') format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "montserrat-regular";
  src: url('/Uzdevums_SandisSirmais/assets/fonts/Montserrat-Regular.ttf') format("truetype"), url('/Uzdevums_SandisSirmais/assets/fonts/montserrat-regular-webfont.woff') format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "montserrat-medium";
  src: url('/Uzdevums_SandisSirmais/assets/fonts/FontsFree-Net-Montserrat-Medium.ttf') format("truetype"), url('/Uzdevums_SandisSirmais/assets/fonts/montserrat-medium-webfont.woff') format("woff");
  font-weight: normal;
  font-style: normal;
}

* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

header {
  overflow: hidden;
}


.container {
  max-width: 1366px;
  min-width: 320px;
  margin: 0 auto;
}

/* nav menu start */

nav ul {
  float: right;
  z-index: 3;
}

nav ul li {
  display: inline-block;
  margin-top: 51px;
}

#nav a.active,
#nav a:hover,
.footer-ul1 a:hover,   /* footer nav */
.footer-ul1 a:active { /* footer nav */
  border-bottom: 3px solid #FFA800;
  font-weight: bold;
}

/* dropdown menu start */

.dropbtn {
  background-color: white;
  outline: none;
  color: black;
  font-size: 18px;
  border: none;
  cursor: pointer;
}

.dropdown {
  display: inline-block;
  height: 20px;
}

.dropdown-content {
  padding-right: 17px;
  padding-block: 10px;
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 60px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  text-decoration: none;
  display: block;
}

.dropdown:hover .dropdown-content {
  display: block;
}

/* dropdown menu end*/

.checkbtn {
  font-size: 25px;
  color: black;
  float: right;
  line-height: 80px;
  cursor: pointer;
  display: none;
}
#check {
  display: none;
}

nav {
  background: white;
  height: 92.51px;
  max-width: 100%;
  padding-inline: 62px;
}

nav ul li a {
  color: black;
  font-size: 18px;
  font-family: montserrat-medium;
  line-height: 21.94px;
  margin-left: 17px;
}

.divider img {
  margin-top: -7.44px;
  position: relative;
  z-index: 0;
  width: 1366px;
}

.logo {
  position: absolute;
  z-index: 2;
}

@media (max-width: 1205px) {
  nav ul li a {
      margin-left: 4px;
  }

  .divider img {
      margin-top: -13px;
  }

  
}

@media (max-width: 1128px) {
  .checkbtn {
      display: block;
  }

  nav img {
      width: 128px;
  }

  .nav-flex-items a {
      margin-left: 80px;
  }

  .nav-flex-items a:first-child {
      margin-left: 0;
  }

  nav ul {
      position: fixed;
      width: 100%;
      height: 100vh;
      background: white;
      top: 80px;
      left: -100%;
      text-align: center;
  }
  nav ul li {
      display: block;
      margin: 80px 0;
      line-height: 30px;
  }
  nav ul li a {
      font-size: 24px;
  }

  #check:checked ~ ul {
      left: 0;
  }
}
section {
  background-size: cover;
  height: calc(100vh - 80px);
  display: none;
}

@media (max-width: 768px) {
  nav {
      height: 74.01px;
      max-width: 100%;
      padding-inline: 66px;
  }

  .divider img {
      height: 27.94px;
      max-width: 768px;
  }

  
}

@media (max-width: 320px) {
  nav {
      height: 51.72px;
      max-width: 100%;
      padding-inline: 15px;
  }

  .nav-flex-items a {
      margin-left: 20px;
  }

  .nav-flex-items a:first-child {
      margin-left: 0;
  }

  nav ul li {
      margin: 40px 0;
  }
  nav ul li a {
      font-size: 18px;
  }

  nav ul {
      top: 52px;
  }

  

 

  .divider img {
      min-height: 19.53px;
  }

  nav img {
      width: 78px;
  }

  .checkbtn {
      line-height: 51.72px;
  }
}

/* nav menu end */


/* video start */
.video-wrap {
  z-index: -1;
}

.video {
  position: relative;
  margin-top: -76px;
  max-width: 100%;
  min-width: 320px;
  z-index: -1;
  vertical-align: middle;
}



.video-wrap-inner2 img {
  position: absolute;
  top: 50%;
  left: 47%;
}

@media (max-width: 1205px) { 
.video-wrap-inner2 img {
      width: 70px;
      top: 45%;
      
  }
}

@media (max-width: 950px) { 
  .video-wrap-inner2 img {
    width: 65px;
    top: 35%;
    
}

}

@media (max-width: 768px) {
	
.video {
      margin-top: -27px;
  }


}

@media (max-width: 650px) { 
  .video-wrap-inner2 img {
    width: 55px;
    top: 30%;
  }
}

@media (max-width: 550px) { 
  .video-wrap-inner2 img {
    width: 50px;
    top: 25%;
  }

}

@media (max-width: 425px) { 
    .video-wrap-inner2 img {
      top: 20%;
    }
}

@media (max-width: 320px) {
 .video-wrap-inner2 img {
      top: 15%;
      left: 40%;
  }



}

/* video end */


/*scrollpoga  start*/

#topBtn {
  position: fixed;
  bottom: 40px;
  right: 40px;
  font-size: 22px;
  width: 50px;
  height: 50px;
  background: #FFA800;
  color: white;
  border: none;
  cursor: pointer;
  z-index: 1;
  outline: none;
  border-radius: 10px;

}



/* scrollpoga end */


/* text-start */

.text {
  font-family: montserrat-regular;
  font-weight: 400;
  font-size: 18px;
  line-height: 21.94px;
  text-align: center;
  display: block;
  max-width: 654px;
  max-height: 114px;
  margin: 0 auto;
  margin-bottom: 150px;
  margin-top: 150px;
}

@media (max-width: 768px) {

  .text {
      max-width: 608px;
      max-height: 140px;
  }

}



@media (max-width: 650px) {
  .text {
    padding-inline: 4%;
    font-size: 16px;
    margin-bottom: 110px;
    margin-top: 110px;
    max-height: inherit;
    line-height: 17.07px;
  }
}






@media (max-width: 320px) {

  .text {
    margin-bottom: 80px;
    margin-top: 80px;
    max-width: 280px;
    max-height: 124px;
    font-size: 12px;
    line-height: 14.63px;
    padding-inline: 0%;
    
}


}


/* text end */

/* image gallery start*/

.image-gallery-wrapper-inner img {
  width: 100%;
}

.image-gallery-wrapper {
  max-width: 1366px;
  margin: 0 auto;
  width: 100%;
}

.image-gallery-wrapper-inner {
  display: flex;
  align-items: center;
  position: relative;
}

.row1, .row2 {
  display: flex;
}

.divider1 {
  position: absolute;
  top: 0;
  max-width: 1366px;
}

.divider2 {
  position: absolute;
  bottom: 0;
  max-width: 1366px;
}

.gallery-item2 img,
.gallery-item4 img,
.gallery-item3 img,
.gallery-item1 img,
.divider2 img {
  vertical-align: middle;
}

.gallery-item3 {
  display: flex;
  flex-direction: column;
  align-self: center;
}

@media only screen and (max-width: 768px) {
  .divider1 img,
  .divider2 img {
      height: 31px;
      object-fit: cover;
  }
}

@media only screen and (max-width: 600px) {
  .divider1 img,
  .divider2 img {
      height: 24px;
      object-fit: cover;
  }
}

@media only screen and (max-width: 480px) {
  .image-gallery-wrapper {
    max-width: 480px;
    overflow: hidden;
}

.image-gallery-wrapper-inner {
    display: flex;
    flex-wrap: wrap-reverse;
    max-width: 495px;
}

.divider1 img,
.divider2 img {
    width: 480px;
    height: 36px;
    object-fit: cover;
}



.gallery-item1 {
    max-width: 240.5px;
}

.gallery-item2 {
    max-width: 240px;
}

.gallery-item4 {
    max-width: 276px;
}

.gallery-item3 {
    max-width: 205px;
    align-self: flex-end;
}


}



@media only screen and (max-width: 320px) {
  .image-gallery-wrapper {
      width: 320px;
      overflow: hidden;
  }

  .image-gallery-wrapper-inner {
      display: flex;
      flex-wrap: wrap-reverse;
      width: 335px;
  }

  .divider1 img,
  .divider2 img {
      width: 320px;
      height: 24px;
      object-fit: cover;
  }

  .divider1 {
      height: 31px;
  }

  .gallery-item1 {
      max-width: 168px;
  }

  .gallery-item2 {
      max-width: 167px;
  }

  .gallery-item4 {
      max-width: 184px;
  }

  .gallery-item3 {
      max-width: 136px;
      align-self: flex-end;
  }
}


/* image gallery end*/

/* cta pogas start */

.break {
  display: none;
}

.cta-wrapper {
  display: flex;
  margin-block: 150px;
  justify-content: space-evenly;
}

.cta-wrapper-inner1,
.cta-wrapper-inner2 {
  text-align: center;
}

.cta-wrapper-inner1 h3,
.cta-wrapper-inner2 h3 {
  font-family: oswald-medium;
  font-size: 24px;
  font-weight: 600;
  color: #2f4858;
  line-height: 35.57px;
}

.button {
  backface-visibility: hidden;
  position: relative;
  width: 233px;
  height: 50px;
  cursor: pointer;
  display: inline-block;
  white-space: nowrap;
  background: #ffa800;
  border-radius: 50.33px;
  border: 0px solid #444;
  border-width: 0px 0px 0px 0px;
  color: #fff;
  font-size: 18px;
  font-family: montserrat-regular;
  font-weight: 500;
  font-style: normal;
  text-align: center;
  vertical-align: middle;
  line-height: 50px;
  margin-top: 50px;
}

.button:hover, .email-button:hover {
  background: #ffda16;
}

.button:active, .email-button:active {
  background: #ff8a00;
}

@media (max-width: 768px) {
  .break {
      display: block;
  }

  .cta-wrapper-inner1 h3 {
      margin-bottom: 25px;
  }

  .cta-wrapper-inner1 h3,
  .cta-wrapper-inner2 h3 {
      font-size: 18px;
      line-height: 26.68px;
  }
}

@media (max-width: 600px) {
  .cta-wrapper {
      flex-direction: column;
      margin-block: 120px;
  }

  .cta-wrapper-inner1 h3 {
      margin-bottom: 0;
  }

  .button {
      margin-top: 30px;
  }

  .cta-wrapper-inner2 {
      margin-top: 80px;
  }
}

/* cta pogas end */

/* email start */

.email-wrapper h2 {
  font-family: oswald-medium;
  font-size: 30px;
  font-weight: 600;
  color: #2f4858;
  line-height: 44.46px;
  text-align: center;
}

.form-input {
  max-width: 612px;
  margin: 0 auto;
  margin-top: 55px;
}

.form-input form {
  display: grid;
  row-gap: 15px;
  column-gap: 20px;
  grid-template-columns: repeat(2, 1fr);
}

.form-input input {
  height: 43px;
  text-indent: 12px;
  border-radius: 6px;
  outline: none;
  border: none;
  background: #c4c4c4 40%;
}

.form-input form input,
.form-input form textarea {
  width: 100%;
  background: rgba(196, 196, 196, 0.4);
  font-family: montserrat-regular;
}

::placeholder {
  color: #2f4858;
  font-weight: 400;
  font-size: 18px;
  line-height: 21.94px;
}

.form-input form textarea {
  height: 6rem;
  padding: 1em;
  border-radius: 6px;
  resize: none;
  border: none;
  outline: none;
  height: 232px;
}

.form-input form .full {
  grid-column: 1 / 3;
}

.form-input form .fullcenter {
  grid-column: 1 / 3;
  text-align: center;
  margin-top: 35px;
}

.form-input form button {
  outline: none;
  position: relative;
  backface-visibility: hidden;
  width: 182px;
  height: 62px;
  cursor: pointer;
  display: inline-block;
  white-space: nowrap;
  background: #ffa800;
  border-radius: 50.33px;
  border-width: 0px 0px 0px 0px;
  color: #fff;
  font-size: 24px;
  font-family: montserrat-regular;
}

input[type="checkbox"] {
  max-width: 16px !important;
  max-height: 16px !important;

  border-radius: 3px;
}

.paragraph2 {
  font-family: montserrat-regular;
  font-size: 14px;
  font-weight: 400;
  color: #2f4858;
  margin-bottom: 6px;
}

.checkbox {
  display: inline-flex;

  position: relative;
}

.checkbox > span {
  color: #34495e;
  padding-left: 21px;
  font-family: montserrat-regular;
  font-size: 14px;
  font-weight: 400;
  color: #2f4858;
  line-height: 17.07px;
}

.checkbox > input {
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  appearance: none;
  border-radius: 3px;
  outline: none;
  cursor: pointer;
}

.checkbox > input:checked {
  border: 1px solid #ffa800;
  background-color: rgba(196, 196, 196, 0.4);
}

.checkbox > input:checked + span::before {
  content: "\2713";
  display: block;
  text-align: center;
  position: absolute;
  left: 3px;
}

@media (max-width: 768px) {
  .form-input {
      max-width: 608px;
      max-height: 230px;
      margin-top: 60px;
  }

  .form-input input {
      height: 40px;
  }

  .form-input form textarea {
      height: 230px;
  }
}

@media (max-width: 620px) {
  .full-mobile {
      grid-column: 1 / 3;
  }

  .form-input {
      margin-inline: 10%;
      margin-top: 30px;
  }
}

@media (max-width: 320px) {
  ::placeholder {
      font-weight: 400;
      font-size: 14px;
      line-height: 21.94px;
  }

  .form-input form {
      row-gap: 10px;
  }

  .form-input input {
      height: 35px;
  }

  .form-input {
      margin-inline: 20px;
  }

  .form-input form textarea {
      height: 180px;
  }

  .form-input form button {
    width: 142px;
    height: 48px;
    font-size: 18px;
    margin-top: 5px;
  }

}

/* email end */

/* footer start */

.wrap-augsa {
  max-width: 1366px;
  width: 100%;
  display: flex;
  padding-top: 69px;
  padding-inline: 4.54%;
  position: relative;
  justify-content: space-between;
}



.footer-wrapper {
  max-width: 1366px;
  width: 100%;
  margin: 0 auto;
}

.zilsfooter img {
  object-fit: cover;
  height: 390px;
  margin-top: -42px;
  max-width: 1366px;
  width: 100%;
}

.wrap-apaksa {
  display: flex;
  position: relative;
  padding-inline: 4.54%;
  justify-content: space-between;
  padding-top: 5px;
  align-items: flex-end;
}

.zils-div4-inner {
  display: flex;
  justify-content: flex-end;
  padding-top: 42px;
}

.zils-div4-inner a {
  padding-left: 29px;
}

.zils-div3 {
  text-align: left;
}

.zils-div4 {
  text-align: right;
}

.zilsfooter {
  display: flex;
  position: absolute;
}

.footer-text1 li,
.footer-ul1 li a {
  font-family: montserrat-regular;
  font-weight: 500;
  font-size: 18px;
  line-height: 21.94px;
  color: white;
  padding-bottom: 10px;
}

.footer-ul1 li {
  margin-bottom: 21px;
}

.footer-ul1 li:last-child {
  margin-bottom: 0px;
}

.footer-paragraph-big {
  font-family: montserrat-medium;
  font-size: 24px;
  font-weight: 500;
  line-height: 29.26px;
  color: white;
  padding-bottom: 18px;
}

.footer-paragraph-small1,
.footer-paragraph-small2,
.footer-paragraph-small2 a {
  font-family: montserrat-regular;
  font-size: 14px;
  font-weight: 500;
  line-height: 17.07px;
  color: white;
}

.neredzams {
  display: none;
}

.redzams1,
.redzams2 {
  display: block;
}

@media (max-width: 1024px) {
  .redzams1 {
      display: none;
  }

  .zils-div1 {
      width: 162px;
  }
}

@media (max-width: 862px) {
  .zilsfooter img {
      height: 450px;
  }
}

@media (max-width: 768px) {
  .neredzams {
      display: block;
  }


  .redzams2 {
      display: none;
  }

  .zils-div4 {
      padding-top: 50px;
  }

  .zils-div1 p {
      padding-top: 30px;
  }

  .wrap-apaksa {
      padding-top: 35px;
      padding-inline: 10.7%;
  }

  .wrap-augsa {
      padding-inline: 10.7%;
  }

  .footer-paragraph-small1,
  .footer-paragraph-small2 {
      font-size: 16px;
  }

  .zils-div4-inner img {
      height: 25px;
  }

  .zils-div4-inner {
      padding-top: 25px;
  }

  .zils-div1 {
      min-width: 100px;
  }
}



@media (max-width: 600px) {
  .wrap-augsa {
      flex-wrap: wrap;
      flex-direction: column;
  }

  .zils-div4 {
      text-align: left;
  }

  .zilsfooter img {
      height: 700px;
  }

  .zils-div4-inner {
      justify-content: flex-start;
  }

  .zils-div4-inner a {
      padding-left: 0px;
      padding-right: 34.5px;
  }

  .footer-paragraph-small1,
  .footer-paragraph-small2 {
      font-size: 14px;
  }

  .wrap-apaksa {
      flex-direction: column;
      align-items: flex-start;
  }

  .zils-div6 {
      padding-top: 5px;
  }
}

@media (max-width: 498px) {
  .zils-div1 img {
    max-width: 130px !important;
    width: 100% !important;
  }
}

@media (max-width: 320px) {
  .zils-div1 {
      width: 100px;
  }

  .zils-div1 p {
      font-size: 18px;
      width: 182px;
      padding-top: 25px;
      padding-bottom: 0;
  }

  .zils-div4 {
      padding-top: 30px;
  }

  .footer-text1 li {
      font-size: 12px;
      line-height: 14.63px;
  }

  .zils-div4 ul li:nth-child(4) {
      font-size: 14px;
  }

  .zilsfooter img {
      margin-top: -20px;
  }

  .footer-paragraph-small1,
  .footer-paragraph-small2 {
      font-size: 11px;
  }

  .wrap-augsa,
  .wrap-apaksa {
      padding-inline: 6.3%;
  }

  .bold {
      font-size: 14px;
  }

  .wrap-teksts {
      margin-top: -313px;
  }

  .wrap-augsa {
      padding-top: 40px;
  }

  .zilsfooter img {
      height: 480px;
  }
}

/* footer end */

/* Atbalst카t훮ji start */

.logo-section img {
  max-width: 100%;
  max-height: 100%;
  display: block;
}

.logo-section {
  position: relative;
  margin-top: 150px;
}



.dzeltens img {
  position: relative;
  width: 100%;
}

.logo-section-inner {
  align-items: center;
  display: flex;
  position: absolute;
  top: 0;
  justify-content: space-between;
  text-align: center;
  padding-inline: 11.1%;
  max-width: 1366px;
  width: 100%;
  margin-top: 13%;
}

.logo-section h3 {
  margin: 0 auto;
  color: #2f4858;
  font-size: 24px;
  text-align: center;
  position: absolute;
  padding-top: 6.6%;
  width: 100%;
  max-width: 1366px;
  letter-spacing: 0.5px;
  font-weight: 600;
  font-family: oswald-medium;
  top: 0;
}

@media (max-width: 768px) {
  .logo-section-inner {
      padding-inline: 10.65%;
      margin-top: 15.31%;
  }

  .logo-section {
    margin-top: 462px;
}

  .logo-section-inner .logo-section-inner-item4 img {
      height: 71px;
  }

  .logo-section-inner .logo-section-inner-item1 img,
  .logo-section-inner-item2 img,
  .logo-section-inner-item3 img {
      height: 47px;
  }

  .logo-section h3 {
      margin-top: 0.933%;
  }

  .dzeltens img {
      height: 300px;
      object-fit: cover;
  }
}

@media only screen and (max-width: 640px) {
  .logo-section-inner {
      padding-inline: 1.3125rem;
      flex-wrap: wrap;
      margin-top: 80px;
  }

  .logo-section-inner {
      justify-content: space-evenly;
  }
}


@media (max-width: 620px) {
    .logo-section {
    margin-top: 462px;
  }
}

@media only screen and (max-width: 498px) {
  .logo-section-inner-item4 {
      padding-top: 31px;
  }

  .logo-section-inner {
    padding-inline: 10%;
  }
}

@media only screen and (max-width: 400px) {
  .logo-section-inner {
    padding-inline: 1rem;
  }
}


@media only screen and (max-width: 320px) {
  .logo-section-inner {
      padding-inline: 1.3125rem;
      flex-wrap: wrap;
      margin-top: 180px;
  }

  .logo-section {
    margin-top: 433px;
  }

  .logo-section-inner .logo-section-inner-item2 img,
  .logo-section-inner-item4 img {
      justify-content: center;
  }

  .dzeltens img {
      height: 732px;
      width: 1366px;
      object-fit: cover;
  }

  .logo-section-inner-item2,
  .logo-section-inner-item4 {
      margin: 0 auto;
  }

  .logo-section-inner-item4 {
      padding-top: 31px;
  }

  .logo-section h3 {
      margin-top: 15.94%;
  }
}

/* atbalst카t훮ji end */
