@font-face {
  font-family: "oswald-medium";
  src: url('/Uzdevums_SandisSirmais/assets/fonts/Oswald-VariableFont_wght.ttf') format("truetype"), url('/Uzdevums_SandisSirmais/assets/fonts/oswald-medium-webfont.woff') format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "montserrat-regular";
  src: url('/Uzdevums_SandisSirmais/assets/fonts/Montserrat-Regular.ttf') format("truetype"), url('/Uzdevums_SandisSirmais/assets/fonts/montserrat-regular-webfont.woff') format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "montserrat-medium";
  src: url('/Uzdevums_SandisSirmais/assets/fonts/FontsFree-Net-Montserrat-Medium.ttf') format("truetype"), url('/Uzdevums_SandisSirmais/assets/fonts/montserrat-medium-webfont.woff') format("woff");
  font-weight: normal;
  font-style: normal;
}





* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

body {
  background-color: white;
}

header {
  overflow: hidden;
}

.container {
  max-width: 1366px;
  min-width: 320px;
  margin: 0 auto;
}

h1 {
  font-family: oswald-medium;
    font-weight: 500;
    font-size: 48px;
    line-height: 71.14px;
    text-align: center;
    display: block;
    margin: 85px 20px 60px;
    color: #2f4858;  /* universal attribute, visiem h1 */
}

h3 {
  font-family: oswald-medium;
  font-size: 24px;
  font-weight: 500;
  color: #2f4858;
  line-height: 35.57px;
}

@media (max-width: 768px) { 
  h1 {
    margin-top: 80px;
  }
}


@media (max-width: 650px) {

  h1 { /* visam lapaam universal */
    margin-top: 50px;
    margin-bottom: 30px;
  }

}


@media (max-width: 500px) {

  h1 {
    font-size: 36px;

  }

  h3 {
font-size: 18px;
line-height: 26.6px;
}


  

}

@media (max-width: 320px) {
  h1 {
    max-width: 280px;
    font-size: 36px;
  }

}



/* nav menu start */


nav {
  background: white;
  height: 84.51px;
  max-width: 1366px;
  width: 100%;
  padding: 0 62px;
  position: relative;
  z-index: 2;
}


nav ul {
  float: right;
  z-index: 10;
}

nav ul li {
  display: inline-block;
  margin-top: 51px;
}

nav ul li a {
  color: black;
  font-size: 18px;
  font-family: montserrat-medium;
  line-height: 21.94px;
  margin-left: 17px;
}

#nav a:active,
#nav a:hover,
.footer-augsa-child-2 ul a:hover,   /* footer nav */
.footer-augsa-child-2 ul a:active { /* footer nav */
  border-bottom: 3px solid #FFA800;
  font-weight: bold;
}

@media (max-width: 1205px) {
  nav ul li a {
      margin-left: 4px;
  }

}

@media (max-width: 1128px) {


  nav {
    height: 70px;
  }

  
  nav ul {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: white;
    top: 68px;
    left: -100%;
    text-align: center;
}
nav ul li {
    display: block;
    margin: 80px 0;
    line-height: 30px;
}
nav ul li a {
    font-size: 24px;
}
 


}



@media (max-width: 768px) {
  nav {
      height: 74.01px;
      padding: 0 80px;
  }
  
}


@media (max-width: 500px) {
  nav {
    height: 52px;
    padding: 0 20px;
  }


}


@media (max-width: 320px) {
  nav {
      height: 40.72px;
      padding: 0 20px;
      width: 320px;
  }

  

  nav ul li {
      margin: 40px 0;
  }
  nav ul li a {
      font-size: 18px;
  }

  nav ul {
      top: 44px;
  }


}




header section {
  background-size: cover;
  height: calc(100vh - 80px);
  display: none;
}


.divider img {
  position: relative;
  z-index: 1;
  object-fit: cover;
  max-width: 1366px;
  width: 100%;
  top: -14px;
}

.homepage {
  position: relative;
}

.homepage_video {
  margin-top: -77px;
}

.logo {
  position: absolute;
  z-index: 2;
}


@media (max-width: 1128px) {

  .divider img {
    top: -8px;
  }

  .logo img {
    width: 128px;
}
}

@media (max-width: 768px) {
  .divider img {
      height: 27.94px;
      max-width: 768px;
  }

  .homepage_video {
    margin-top: -35px;
}

}


@media (max-width: 500px) {

  .divider img {
    top: 0;
  }


}


@media (max-width:320px) {
  .divider img {
    height: 19.53px;
    width: 320px;
    top: -8px;
}

.logo img {
    width: 78px;
}
}






/* dropdown menu start */

.dropbtn {
  background-color: white;
  outline: none;
  color: black;
  font-size: 18px;
  border: none;
  cursor: pointer;
}

.dropdown {
  display: inline-block;
  height: 20px;
}

.dropdown-content {
  padding: 0 17px 0 10px;
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 60px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  text-decoration: none;
  display: block;
}

.dropdown:hover .dropdown-content {
  display: block;
}


@media (max-width: 1128px) {
  .nav-dropdown-mobile a {
    margin-left: 80px;
}

.nav-dropdown-mobile a:first-child {
    margin-left: 0;
  }
}

@media (max-width: 320px) {
  .nav-dropdown-mobile a {
    margin-left: 20px;
}

.nav-dropdown-mobile a:first-child {
    margin-left: 0;
}

}

/* dropdown menu end*/





/* nav menu end */


/* video start */
.video-wrap {
  z-index: -1;
}



.video {
  position: relative;
  margin-top: -76px;
  max-width: 100%;
  min-width: 320px;
  z-index: -1;
  vertical-align: middle;
}



.video-wrap-inner2 img {
  position: absolute;
  top: 50%;
  left: 47%;
}

@media (max-width: 1205px) { 
.video-wrap-inner2 img {
      width: 70px;
      top: 45%;
      
  }
}

@media (max-width: 950px) { 
  .video-wrap-inner2 img {
    width: 65px;
    top: 35%;
    
}

}

@media (max-width: 768px) {
	
.video {
      margin-top: -27px;
  }


}

@media (max-width: 650px) { 
  .video-wrap-inner2 img {
    width: 55px;
    top: 30%;
  }
}

@media (max-width: 550px) { 
  .video-wrap-inner2 img {
    width: 50px;
    top: 25%;
  }



}

@media (max-width: 425px) { 
    .video-wrap-inner2 img {
      top: 20%;
    }
}

@media (max-width: 320px) {
 .video-wrap-inner2 img {
      top: 15%;
      left: 40%;
  }



}

/* video end */


/*scrollpoga  start*/

#topBtn {
  position: fixed;
  bottom: 40px;
  right: 40px;
  font-size: 22px;
  width: 50px;
  height: 50px;
  background: #FFA800;
  color: white;
  border: none;
  cursor: pointer;
  z-index: 2;
  outline: none;
  border-radius: 10px;
  display: none;

}



/* scrollpoga end */


/* text-start */

.text-homepage {
  font-family: montserrat-regular;
  font-weight: 400;
  font-size: 18px;
  line-height: 21.94px;
  text-align: center;
  display: block;
  max-width: 654px;
  max-height: 114px;
  margin: 0 auto;
  color: #2F4858;
  margin-bottom: 150px;
  margin-top: 150px;
}

@media (max-width: 768px) {

  .text-homepage {
      max-width: 608px;
      max-height: 140px;
  }

}



@media (max-width: 650px) {
  .text-homepage {
    padding: 0 4%;
    font-size: 16px;
    margin-bottom: 110px;
    margin-top: 110px;
    max-height: inherit;
    line-height: 17.07px;
  }
}






@media (max-width: 425px) {

  .text-homepage {
    margin-bottom: 80px;
    margin-top: 80px;
    font-size: 12px;
    line-height: 14.63px;
    padding: 0 20px;
    
}


}


/* text end */

/* image gallery start*/

.image-gallery-wrapper {
  max-width: 1366px;
  margin: 0 auto;
  width: 100%;
}

.image-gallery-wrapper-inner {
  display: flex;
  align-items: center;
  position: relative;
}

.image-gallery-wrapper-inner img {
  width: 100%;
}


.row1, .row2 {
  display: flex;
}

.divider1 {
  position: absolute;
  top: 0;
  max-width: 1366px;
  z-index: 1;
}

.divider2 {
  position: absolute;
  bottom: -2px;
  max-width: 1366px;
}

.gallery-item2 img,
.gallery-item4 img,
.gallery-item3 img,
.gallery-item1 img,
.divider2 img {
  vertical-align: middle;
}

.gallery-item3 {
  display: flex;
  flex-direction: column;
  align-self: center;
  height: 100%;
}

@media only screen and (max-width: 768px) {
  .divider1 img,
  .divider2 img {
      height: 31px;
      object-fit: cover;
  }
}

@media only screen and (max-width: 600px) {
  .divider1 img,
  .divider2 img {
      height: 24px;
      object-fit: cover;
  }

  #topBtn {
    bottom: 20px;
    right: 20px;
    font-size: 20px;
    width: 40px;
    height: 40px;
  }
}

@media only screen and (max-width: 480px) {
  .image-gallery-wrapper {
    max-width: 480px;
    overflow: hidden;
}

.image-gallery-wrapper-inner {
    display: flex;
    flex-wrap: wrap-reverse;
    max-width: 495px;
}

.divider1 img,
.divider2 img {
    width: 775px;
    height: 36px;
    object-fit: cover;
}



.gallery-item1 {
    max-width: 240.5px;
}

.gallery-item2 {
    max-width: 240px;
}

.gallery-item4 {
    max-width: 276px;
}

.gallery-item3 {
    max-width: 205px;
    align-self: flex-end;
}


}



@media only screen and (max-width: 320px) {
  .image-gallery-wrapper {
      width: 320px;
      overflow: hidden;
  }

  .image-gallery-wrapper-inner {
      display: flex;
      flex-wrap: wrap-reverse;
      width: 335px;
  }

  .divider1 img,
  .divider2 img {
      height: 24px;
      object-fit: cover;
  }


  .gallery-item1 {
      max-width: 168px;
  }

  .gallery-item2 {
      max-width: 167px;
  }

  .gallery-item4 {
      max-width: 184px;
  }

  .gallery-item3 {
      max-width: 136px;
      align-self: flex-end;
      
  }
}


/* image gallery end*/

/* cta pogas start */

.break {
  display: none;
}

.cta-wrapper {
  display: flex;
  margin: 150px 0;
  justify-content: space-evenly;
}

.cta-wrapper-inner1,
.cta-wrapper-inner2 {
  text-align: center;
}

.cta-wrapper-inner1 h3,
.cta-wrapper-inner2 h3 {
  font-family: oswald-medium;
  font-size: 24px;
  font-weight: 600;
  color: #2f4858;
  line-height: 35.57px;
  padding-bottom: 50px;
}

.button {
  backface-visibility: hidden;
  position: relative;
  width: 233px;
  height: 50px;
  cursor: pointer;
  display: inline-block;
  white-space: nowrap;
  background: #ffa800;
  border-radius: 50.33px;
  color: #fff;
  font-size: 18px;
  font-family: montserrat-regular;
  font-weight: 500;
  font-style: normal;
  text-align: center;
  vertical-align: middle;
  line-height: 50px;
}

.button:hover, .email-button:hover {
  background: #ffda16;
}

.button:active, .email-button:active {
  background: #ff8a00;
}

@media (max-width: 1200px) {
  .break {
    display: block;
}
.cta-wrapper-inner1 h3{
  padding-bottom: 86px;
  }

}

@media (max-width: 768px) {
 


  .cta-wrapper-inner1 h3,
  .cta-wrapper-inner2 h3 {
      font-size: 18px;
      line-height: 26.68px;
  }

  .cta-wrapper-inner1 h3{
    padding-bottom: 75px;
    }
  
  }





@media (max-width: 600px) {
  .cta-wrapper {
      flex-direction: column;
      margin: 120px 0;
  }

  .cta-wrapper-inner2 {
      margin-top: 80px;
  }

  .cta-wrapper-inner1 h3{
    padding-bottom: 50px;
    }
}

@media (max-width: 450px) {

.cta-wrapper-inner1 h3,
.cta-wrapper-inner2 h3 {
  padding-bottom: 30px;
  }

}

/* cta pogas end */

/* email start */

.email-wrapper {
  margin-top: 150px;
}

.email-wrapper h2 {
  font-family: oswald-medium;
  font-size: 30px;
  font-weight: 600;
  color: #2f4858;
  line-height: 44.46px;
  text-align: center;
  padding: 0 20px;
}


@media (max-width: 485px) {
  .email-wrapper {
    margin-top: 120px;
  }
}

@media (max-width: 320px) {


  .email-wrapper h2 {
    font-size: 24px;
  }

} 



.form-input {
  max-width: 652px;
  margin: 0 auto;
  margin-top: 55px;
  padding: 0 20px;
}

.form-input form {
  display: grid;
  row-gap: 15px;
  column-gap: 20px;
  grid-template-columns: repeat(2, 1fr);
}

.form-input form input  {
  height: 43px;
  border-radius: 6px;
  outline: none;
  border: none;
  background: #c4c4c4 40%;
  padding: 12px;
}


.form-input form input,
.form-input form textarea {
  width: 100%;
  background: rgba(196, 196, 196, 0.4);
  font-family: montserrat-regular;
}

::placeholder {
  color: #2f4858;
  font-weight: 400;
  font-size: 18px;
  line-height: 21.94px;
}

.form-input form textarea {
  padding: 12px;
  border-radius: 6px;
  resize: none;
  border: none;
  outline: none;
  height: 232px;
}

.form-input form .full {
  grid-column: 1 / 3;
}

.form-input form .fullcenter {
  grid-column: 1 / 3;
  text-align: center;
  margin-top: 35px;
}

.form-input form button {
  outline: none;
  position: relative;
  backface-visibility: hidden;
  width: 182px;
  height: 62px;
  cursor: pointer;
  display: inline-block;
  white-space: nowrap;
  background: #ffa800;
  border-radius: 50.33px;
  border-width: 0px 0px 0px 0px;
  color: #fff;
  font-size: 24px;
  font-family: montserrat-regular;
}

input[type="checkbox"] {
  max-width: 16px !important;
  max-height: 16px !important;

  border-radius: 3px;
}

.paragraph2 {
  font-family: montserrat-regular;
  font-size: 14px;
  font-weight: 400;
  color: #2f4858;
  margin-bottom: 10px;
}

.checkbox > span {
  color: #34495e;
  padding-left: 21px;
  font-family: montserrat-regular;
  font-size: 14px;
  font-weight: 400;
  color: #2f4858;
  line-height: 17.07px;
}

@media (max-width: 500px) {
  .paragraph2, .checkbox > span {
    font-size: 12px;
    line-height: 14.6px;
  }
  }

.checkbox {
  display: inline-flex;

  position: relative;
}



.checkbox > input {
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  appearance: none;
  border-radius: 3px;
  outline: none;
  cursor: pointer;
  padding: 0 !important;
}

.checkbox > input:checked {
  border: 1px solid #ffa800;
  background-color: rgba(196, 196, 196, 0.4);
}

.checkbox > input:checked + span::before {
  content: "\2713";
  display: block;
  text-align: center;
  position: absolute;
  left: 3px;
}

.form-pazinojums {
  display: none;
}

.form-pazinojums p {
  font-family: montserrat-regular;
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: 29px;
letter-spacing: 0em;
text-align: center;
color: #FFA800;

}


.form-pazinojums p:nth-child(2) {
font-size: 18px;
line-height: 22px;
    padding: 30px 20px 0;
}


@media (max-width: 768px) {
  .form-input {
      max-width: 648px;
      margin-top: 60px;
  }

  .form-input input {
      height: 40px;
  }

  .form-input form textarea {
      height: 230px;
  }
}



@media (max-width: 620px) {
  .full-mobile {
      grid-column: 1 / 3;
  }

  .form-input {
      margin-top: 30px;
  }
}

@media (max-width: 320px) {
  ::placeholder {
      font-weight: 400;
      font-size: 14px;
      line-height: 21.94px;
  }

  .email-wrapper h2 {
    font-size: 24px;
  }

  .form-input form {
      row-gap: 10px;
  }

  .form-input input {
      height: 35px;
  }

  .form-input form textarea {
      height: 180px;
  }

  .form-input form button {
    width: 142px;
    height: 48px;
    font-size: 18px;
    margin-top: 5px;
  }

}

/* email end */

/* Atbalstītāji start */

.logo-section img {
  max-width: 100%;
  max-height: 100%;
  display: block;
}

.logo-section {
  position: relative;
  margin-top: 150px;
}


.logo-section-inner {
  align-items: center;
  display: flex;
  position: absolute;
  top: 0;
  justify-content: space-between;
  padding: 0 168px;
  max-width: 1366px;
  width: 100%;
  margin-top: 14.6%;
}

.logo-section h3 {
  margin: 0 auto;
  color: #2f4858;
  font-size: 24px;
  text-align: center;
  position: absolute;
  margin-top: 100px;
  width: 100%;
  max-width: 1366px;
  letter-spacing: 0.5px;
  font-weight: 600;
  font-family: oswald-medium;
  top: 0;
}

.dzeltens-bg img {
  position: relative;
  width: 100%;
}


@media (max-width: 1366px) {
  .logo-section-inner {
    padding: 0 80px;
  }

  .logo-section h3 {
    margin-top: 56px;
  }
}


@media (max-width: 768px) {

  .logo-section {
    margin-top: 150px;
}

  .logo-section-inner .logo-section-inner-item4 img {
      height: 71px;
  }

  .logo-section-inner {
    margin-top: 115px;
  }

  .logo-section-inner-item1 img,
  .logo-section-inner-item2 img,
  .logo-section-inner-item3 img {
      height: 47px;
  }


  .dzeltens-bg img {
      height: 300px;
      object-fit: cover;
  }
}

@media only screen and (max-width: 640px) {
  .logo-section-inner {
      padding: 0 19%;
      flex-wrap: wrap;
  }

  .logo-section-inner {
      justify-content: space-around;
  }

  .logo-section-inner-item4 {
      padding-top: 31px;
  }
  .dzeltens-bg img {
    height: 358px;
  }



  .logo-section {
    margin-top: 120px;
}
}

@media only screen and (max-width: 440px) {
  .logo-section-inner {
    padding: 0 40px;
  }
}

@media only screen and (max-width: 400px) {
  .logo-section-inner {
    padding: 0 20px;
  }
}


@media only screen and (max-width: 320px) {

  .logo-section-inner {
      flex-wrap: wrap;
      margin-top: 180px;
  }


  .logo-section-inner .logo-section-inner-item2 img,
  .logo-section-inner-item4 img {
      justify-content: center;
  }

  .dzeltens-bg img {
      height: 428px;
      width: 1366px;
      object-fit: cover;
  }

  .logo-section-inner-item2,
  .logo-section-inner-item4 {
      margin: 0 auto;
  }

  .logo-section-inner-item4 {
      padding-top: 31px;
  }

  .logo-section h3 {
      margin-top: 83px;
  }
}

/* atbalstītāji end */

/* footer start */

.footer-wrapper {
  max-width: 1366px;
  width: 100%;
  margin-top: -32px;
}

.footer-wrapper-margin {
  margin-top: 150px;
}

@media (max-width: 320px) {
  .footer-wrapper {
    margin-top: -24px;
  }

  .footer-wrapper-margin {
    margin-top: 120px;
  }
}

.zilsfooter {
  display: flex;
  position: absolute;
}


.zilsfooter img {
  object-fit: cover;
  height: 376px;
  max-width: 1366px;
  width: 100%;
  z-index: -1;
 
}

.zilsfooter_index {
  margin-top: -20px;
}

@media (max-width: 768px) {
  .zilsfooter img {
    height: 424px;
}
  }

@media (max-width: 700px) {
  .zilsfooter img {
    height: 439px;
}
  }


@media (max-width: 640px) {
  .zilsfooter img {
    height: 649px;
}

.zilsfooter_index img {
  height: 669px;
}
  }

@media (max-width: 500px) {
  
.zilsfooter img {
  height: 597px;
}

.zilsfooter_index img {
  height: 617px;
}
  }


  @media (max-width: 320px) {

    .zilsfooter {
      width: 320px;
    }
  
   .zilsfooter img {
        height: 487px;
    }
  
    .zilsfooter_index img {
      height: 507px;
    }
  }


/*footer augsa */

.footer-augsa {
  max-width: 1366px;
  width: 100%;
  display: flex;
  padding: 73px 4.54% 0;
  position: relative;
  justify-content: space-between;
}

.footer-augsa-child-4-inner {
  display: flex;
  justify-content: flex-end;
  padding-top: 42px;
}


.footer-augsa-child-4-inner a {
  padding-left: 29px;
}


.footer-augsa-child-4 {
  text-align: right;
}

.neredzams {
  display: none;
}


.footer-augsa-child-3 {
  text-align: left;
}




.footer-augsa-child-2 ul li a,
.footer-augsa-child-3 ul li, 
.footer-augsa-child-4 ul li {
  font-family: montserrat-regular;
  font-weight: 500;
  font-size: 18px;
  line-height: 21.94px;
  color: white;
}


.footer-augsa-child-3 ul li, 
.footer-augsa-child-4 ul li {
  padding-bottom: 10px;
}

.footer-augsa-child-2 ul li:not(:last-child) {
  margin-bottom: 21px;
}


.footer-paragraph-big {
  font-family: montserrat-medium;
  font-size: 24px;
  font-weight: 500;
  line-height: 29.26px;
  color: white;
  padding-bottom: 18px;
}

.redzams1,
.redzams2 {
  display: block;
}





@media (max-width: 1024px) {
  
  .footer-augsa-child-1 {
    width: 162px;
}
  
  .redzams1 {
      display: none;
  }

 
}



@media (max-width: 768px) {


  .footer-augsa {
    padding: 0 80px;
}

  .footer-paragraph-big {
    padding-bottom: 0px;
  }
  
  .footer-inner {
    padding-top: 70px;
  }


  .neredzams {
    display: block;
}


.redzams2 {
    display: none;
}


.footer-augsa-child-1 img {
  width: 162px;
}

.footer-augsa-child-1 p {
  padding-top: 30px;
}


.footer-augsa-child-1 {
  min-width: 100px;
}

.footer-augsa-child-4 {
  padding-top: 50px;
}


.footer-augsa-child-4-inner img {
height: 25px;
}

.footer-augsa-child-4-inner {
padding-top: 25px;
}
 
  

}







@media (max-width: 640px) {
  
  .footer-augsa {
    flex-wrap: wrap;
    flex-direction: column;
}


  .footer-augsa-child-4 {
      text-align: left;
  }


  .footer-augsa-child-4-inner {
      justify-content: flex-start;
  }

  .footer-augsa-child-4-inner a {
      padding-left: 0px;
      padding-right: 34.5px;
  }

  




}

@media (max-width: 500px) {

  .footer-augsa{
    padding: 0 20px;
}

  .footer-augsa-child-1 img {
    max-width: 130px !important;
    width: 100% !important;
  }



}



@media (max-width: 320px) {

  .footer-inner{
    padding-top: 0;
  }

  .footer-augsa {
    padding-top: 43px;
}


  .footer-augsa-child-1 {
      width: 100px;
  }


  .footer-augsa-child-1 p {
      font-size: 18px;
      width: 182px;
      padding-top: 25px;
      padding-bottom: 0;
  }

  .footer-augsa-child-4 {
      padding-top: 30px;
  }

  .footer-augsa-child-4 ul li:nth-child(4) {
    font-size: 14px;
}

  .footer-augsa-child-3 ul li, 
  .footer-augsa-child-4 ul li {
      font-size: 12px;
      line-height: 14.63px;
  }

 
}


/*footer apaksa */


.footer-apaksa {
  display: flex;
  position: relative;
  justify-content: space-between;
  padding: 5px 4.54% 0;
  align-items: flex-end;
}


.footer-apaksa-child1-paragraph,
.footer-apaksa-child2-paragraph,
.footer-apaksa-child2-paragraph a {
  font-family: montserrat-regular;
  font-size: 14px;
  font-weight: 500;
  line-height: 17.07px;
  color: white;
}

.break_index_footer {
  display: none;
}


@media (max-width: 768px) {

  .footer-apaksa {
    padding: 35px 80px 50px;
}


  .footer-apaksa-child1-paragraph,
  .footer-apaksa-child2-paragraph {
      font-size: 16px;
  }



}



@media (max-width: 700px) {
  .break_index_footer {
    display: block  !important;
  }

}


  @media (max-width: 640px) {

    .footer-apaksa {
      flex-direction: column;
      align-items: flex-start;
    }

    .footer-apaksa-child1-paragraph,
    .footer-apaksa-child2-paragraph {
        font-size: 14px;
    }
  
    .footer-apaksa-child-2 {
      padding-top: 5px;
  }
  
  

    .break_index_footer {
      display: none  !important;
    }

  

  }


  
@media (max-width: 500px) {


.footer-apaksa {
  padding: 35px 20px 30px;
}

}

@media (max-width: 370px) {

  .footer-apaksa-child1-paragraph,
  .footer-apaksa-child2-paragraph {
      font-size: 11px;
  }
  
  }


 @media (max-width: 320px) {

  .footer-apaksa-child1-paragraph,
  .footer-apaksa-child2-paragraph {
      font-size: 11px;
  }
  

  .bold {
      font-size: 14px;
  }
} 


/* footer end */




/* Idejas Lapa start */




.textideja {
  margin: 0 auto;
  margin-bottom: 150px;
  max-width: 606px;
  font-family: montserrat-regular;
  font-weight: 400;
  font-size: 18px;
  line-height: 21.94px;
  color: #2F4858;
  text-align: center;
  display: block;
}

@media (max-width: 768px) {
  .textideja{
padding: 0 80px;
max-width: none;
}
}


@media (max-width: 500px) {
  .textideja{
padding: 0 20px;
margin-bottom: 80px;
font-size: 12px;
line-height: 14.6px;
}
}


.bg {
  overflow: hidden;
  
}

.bg img {
  min-width: 965px;
}

@media (max-width: 768px) {
.bg img {
margin-left: 50%;
transform: translateX(-50%);
}
}

@media (max-width: 500px) {
  .bg img {
    min-width: 965px;
    margin-left: 21%;
    transform: translateX(-50%);
    }
}

.bg::after {
  content:'';
  position:absolute;
  left:0; top:0;
  width:100%; height:100%;
  display:inline-block;
  background: linear-gradient(180deg, rgba(47, 72, 88, 0.8) 18.63%, rgba(47, 72, 88, 0) 49.21%);
transform: rotate(-180deg);
}


.quote {
  position: absolute;
  font-family: oswald-medium;
    font-weight: 500;
    font-size: 24px;
    line-height: 35.57px;
    text-align: center;
    display: block;
    max-width: 1366px;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 0px;
    color: white;
    padding: 0 20px;
    bottom: 84px;
}

q {
  max-width: 818px;
  margin: 0 auto;
  display: block;
 
}

@media (max-width: 500px) {
  .quote {
    bottom: 65px;
  }
 }

@media (max-width: 500px) {
 .quote {
   font-size: 18px;
   line-height: 27px;
 }
}




@media (max-width: 320px) {
  q{
max-width: 280px;
}

}


.atzinas {
  display: block;
  margin: 0 auto;
  margin-top: 150px;
  max-width: 602px;
  color: #2F4858;

}

.amats {
  font-family: montserrat-regular;
  font-weight: 400;
  font-size: 18px;
  line-height: 21.94px;
  padding-top: 10px;
}

.atzinas cite {
  font-family: montserrat-regular;
  font-weight: 400;
  font-style: italic;
  font-size: 24px;
  line-height: 29.26px;
  display: block;
  margin-top: 30px;

}

@media (max-width: 768px) {
  .atzinas{
padding: 0 80px;
max-width: none;
}
}


@media (max-width: 500px) {
  .atzinas{
padding: 0 20px;
margin-top: 120px;
}

.amats{
  font-size: 14px;
  line-height: 17px;
}

.atzinas cite {
  font-size: 12px;
  line-height: 14.63px;
}

}




.arrows {
  margin-top: 30px;
}

.arrows button {
  -webkit-appearance: none;
  background: transparent;
  border: 0;
  outline:0;
}

.arrow {
  cursor: pointer;
}

.left {
  left: 42%;
  margin-right: 46px;
}

.right {
  left: 58%;
}

.left:hover polyline,
.left:focus polyline {
  stroke-width: 10;
}

.left:active polyline {
  stroke-width: 10;
  transition: all 100ms ease-in-out;
}

.right:hover polyline,
.right:focus polyline {
  stroke-width: 10;
}

.right:active polyline {
  stroke-width: 10;
  transition: all 100ms ease-in-out;
}

polyline {
  transition: all 250ms ease-in-out;
}



/* Idejas Lapa end */




/*Piesaki sapni lapa start*/


.cta-wrapper-sapnis {
  justify-content: center;
  display: flex;
  text-align: center;
  margin: 90px 0 140px;
  
}


.cta-wrapper-sapnis p {
  font-family: montserrat-regular;
  font-weight: 400;
  font-size: 18px;
  line-height: 21.94px;
  color: #2f4858;
}


.cta-wrapper-inner1-sapnis {
  margin-right: 242px;
}

.cta-wrapper-inner1-sapnis, 
.cta-wrapper-inner2-sapnis {
  max-width: 394px;
}

.cta-wrapper-sapnis img {
  margin-bottom: 60px;
}

.cta-wrapper-sapnis h3 {
  margin-bottom: 30px;
}

.cta-wrapper-inner1-sapnis p {
  margin-bottom: 143px;
}

.cta-wrapper-inner2-sapnis p {
  margin-bottom: 56px;
}

.textsapnis {
  font-family: montserrat-regular;
  font-weight: 500;
  font-size: 24px;
  line-height: 29.26px;
  margin: 0 auto;
  display: block;
  max-width: 818px;
  text-align: center;
  color: #2f4858;
  padding: 0 20px;
  
}

@media (max-width: 1280px) {
  .cta-wrapper-inner1-sapnis {
    margin-right: 150px;
  }
}

@media (max-width: 980px) {
  .cta-wrapper-sapnis {
    flex-direction: column;
    align-items: center;
  }

  .cta-wrapper-inner1-sapnis {
    margin-right: 0;
    margin-bottom: 150px;
  }

  .cta-wrapper-inner1-sapnis, 
  .cta-wrapper-inner2-sapnis {
    max-width: 608px;
  }


  .textsapnis {
    max-width: 608px;
  }

  .cta-wrapper-inner1-sapnis p {
    margin-bottom: 50px;
  }
  
  .cta-wrapper-inner2-sapnis p {
    margin-bottom: 50px;
  }

}



@media (max-width: 768px) {

  .cta-wrapper-sapnis {
    margin: 90px 0 150px;
  }

  .cta-wrapper-sapnis {
    padding: 0 80px;
  }
}


@media (max-width: 680px) {
  .cta-wrapper-inner1-sapnis, 
  .cta-wrapper-inner2-sapnis  {
    max-width: 400px;

  }

  .cta-wrapper-inner1-sapnis {
    margin-bottom: 80px;
  }

}

@media (max-width: 425px) {

  .cta-wrapper-sapnis {
    margin: 80px 0 120px;
    padding: 0 20px;
  }

  .cta-wrapper-inner1-sapnis, 
  .cta-wrapper-inner2-sapnis  {
    max-width: 280px;
  }


  .cta-wrapper-sapnis p {
    font-size: 12px;
    line-height: 14.63px;

  }

  
}


@media (max-width: 320px) {
  

  .cta-wrapper-sapnis h3 {
    font-size: 18px;
    margin-bottom: 10px;
    line-height: 26.68px;
  }

  .textsapnis {
    font-size: 14px;
    line-height: 17px;
}


  
}



/* image gallery for piesakisapni */


@media only screen and (max-width: 480px) {
  .piesakisapni .gallery-item1 {
    max-width: 240.5px;
}

.piesakisapni .gallery-item2 {
    max-width: 241px;
}

.piesakisapni .gallery-item4 {
    max-width: 383px;
}

.piesakisapni .gallery-item3 {
    max-width: 240px;
    align-self: flex-end;
}


}




/*Piesaki sapni lapa end*/


/*uznemejiem lapa start*/

.text-uznemejiem {
font-family: montserrat-regular;
  font-weight: 400;
  font-size: 18px;
  line-height: 21.94px;
  margin: 0 auto;
  display: block;
  color: #2f4858;
  text-align: center;
  max-width: 978px;
  padding: 0 80px;
 
}


@media (max-width: 500px) {
  .text-uznemejiem {
    font-size: 14px;
    line-height: 17px;
    padding: 0 20px;
  }

}
/* uznemejiem lapa end*/


/* Sapnu banka lapa start */

.videos {
  margin: 20px auto;
  max-width: 1366px;
}
/* Individual video container */
.video-wrap1 {
  position: relative;
  max-width: 1366px;
  width: 100%;
}
/* video poster frame or placeholder image */
.video-wrap1 .placeholder {
  max-width: 1366px;
  width: 100%;
}
/* SVG play button container */
.video-wrap1 .play-btn  {
  position: absolute;
  max-width: 700px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  filter: drop-shadow( 0px 3px 7px rgba(0, 0, 0, 0.6));

    /* Similar syntax to box-shadow */
}


@media (max-width: 650px) {
  .video-wrap1 .play-btn img {
    width: 65px;
    height: 63px;
  }
  
}

@media (max-width: 320px) {
  
  .video-wrap1 .play-btn img,
  .video-wrap1 .play-btn {
    width: 50px;
    height: 48px;
  }
}




.sapnu-banka-merki-flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 90px;
  padding: 0 20px;

}

.sapnu-banka-merki-flex-item1, 
.sapnu-banka-merki-flex-item3 {
  display: inline-flex;
  text-align: left;
  align-items: center;

}

.sapnu-banka-merki-flex-item2 {
  display: inline-flex;
  text-align: right;
  align-items: center;
}

.sapnu-banka-merki-flex-item1 img,
.sapnu-banka-merki-flex-item3 img {
  padding-right: 62px;
}

.sapnu-banka-merki-flex-item2 img {
  padding-left: 62px;
}


.sapnu-banka-merki-flex > div:not(:last-child) {
  margin-bottom: 106px;
}

.sapnu-banka-merki-text {
  max-width: 500px;
}


.sapnu-banka-merki-text {
  font-family: montserrat-regular;
  font-weight: 400;
  font-size: 18px;
  line-height: 21.94px;
  color: #2F4858;
}

@media (max-width: 768px) {
  .sapnu-banka-merki-text { 
    max-width: 353px;
  }

}

@media (max-width: 650px ) {
  .sapnu-banka-merki-flex > * {
    flex-direction: column;
  }

  .sapnu-banka-merki-flex-item2 {
    flex-direction: column-reverse;
  }

  
  .sapnu-banka-merki-flex img {
    max-width: 145px;
  }
  
  .sapnu-banka-merki-flex-item1 img,
  .sapnu-banka-merki-flex-item3 img {
    padding-right: 0;
  }

  .sapnu-banka-merki-flex-item2 img {
    padding-left: 0;
  }

  .sapnu-banka-merki-flex p {
    margin-top: 25px;
  }

  .sapnu-banka-merki-text {
    font-size: 16px;
    max-width: 500px;
    text-align: center;
  }

  .sapnu-banka-merki-flex > div:not(:last-child) {
    margin-bottom: 60px;
  }


}

@media (max-width: 500px ) {
  .sapnu-banka-merki-flex { 
    margin-top: 60px;
  }

}

@media (max-width: 320px ) {
  .sapnu-banka-merki-flex img {
    max-width: 118px;
  }

  .sapnu-banka-merki-text {
    font-weight: 400;
    font-size: 12px;
    line-height: 14.63px;
  }
}











.cta-wrapper-sapnubanka {
    margin-top: 60px;
    margin-bottom: 150px;
    justify-content: space-evenly;
    display: flex;
    text-align: center;
    align-items: baseline;
    padding: 0 20px;
    
}



.cta-wrapper-sapnubanka img {
  margin-bottom: 30px;
}

.cta-wrapper-sapnubanka p{
  max-width: 288px;
}

@media (max-width: 768px) {


.cta-wrapper-inner1-sapnubanka img {
    max-width: 102px;
  }

  .cta-wrapper-inner2-sapnubanka img {
    max-width: 160px;
  }


  .cta-wrapper-sapnubanka img {
    margin-bottom: 25px;
  }

  .cta-wrapper-sapnubanka .sapnu-banka-text-medium {
    font-size: 18px;
    line-height: 21.94px;
  }
}

@media (max-width: 650px) {
  .cta-wrapper-sapnubanka {

    flex-direction: column;
    align-items: center;
    margin-bottom: 120px;
  }

  .cta-wrapper-sapnubanka > div:not(:last-child) {
    margin-bottom: 60px;
  }
}






.sapnubanka-h3 {
  font-family: oswald-medium;
  font-size: 30px;
  font-weight: 500;
  color: #2f4858;
  line-height: 44.46px;
  text-align: center;
  margin-top: 150px;
}



.sapnu-banka-text-medium {
  font-family: montserrat-regular;
  font-weight: 500;
  font-size: 24px;
  line-height: 29.26px;
  text-align: center;
  color: #2F4858;
}


.text-size0,
  .text-size1,
  .text-size2 {
    margin: 0 auto;
  }

.text-size0 {
  padding: 50px 20px 0;
}


.text-size1 {
  max-width: 818px;
}

.text-size2 {
  max-width: 1030px;
}

.logo-section-inner-item1-sapnu p {
  margin-top: 40px;
  color: #ffffff;
}



.logo-section-sapnu {
  position: relative;
  margin-top: 150px;
}



.logo-section-inner-item1-sapnu img {
  max-width: 367.6px;
  max-height: 256.63px;
  width: 100%;
  height: 100%;
}

.logo-section-inner-item1-sapnu:last-child img {
  max-width: 401.6px;
  max-height: 257px;
  width: 100%;
  height: 100%;
}

.logo-section-inner-sapnu {
  align-items: center;
  position: absolute;
  top: 0;
  justify-content: space-between;
  text-align: center;
  max-width: 1366px;
  width: 100%;
  margin-top: 75px;
  padding: 0 20px;
}

.dzeltens-sapnu img {
  position: relative;
  width: 100%;
  height: 100%;
  object-fit: cover;
  min-width: 768px;
  min-height: 533px;
}




@media (max-width: 768px) {
  .dzeltens-sapnu img {
    min-width: 460px !important;
    min-height: 471px;
  }
  
  .text-size0,
  .text-size1,
  .text-size2 {
    max-width: 608px;
  }

  
  .logo-section-inner-item1-sapnu img,
  .logo-section-inner-item1-sapnu:last-child img {
    max-width: 300px;
  }


}

@media (max-width: 650px) {


  .sapnubanka-h3 {
    margin-top: 120px;
  }

  .logo-section-sapnu {
    margin-top: 120px;
  }

  

}


@media (max-width: 500px) {


  
  .dzeltens-sapnu img {
    min-width: 320px !important;
    min-height: 471px;
    width: 100%;
    height: 100%;
  }

  .sapnu-banka-text-medium {
    font-size: 18px;
    line-height: 21.94px;
  
  }

}

@media (max-width: 320px) {

  .text-size0 {
    padding-top: 25px;
  }


}


/*Sapnu banka lapa end */


/* Sapnus atbalsta lapa start */







/* dropdown menu for sapnus atbalsta */

.dropdown-el {
  min-width: 280px;
  position: relative;
  display: inline-block;
  padding: 12px 15px 0;
  max-height: 42px;
  overflow: hidden;
  cursor: pointer;
  text-align: left;
  white-space: nowrap;
  color: #2F4858;
  outline: none;
  border-radius: 6px;
  background-color: rgba(196, 196, 196, 0.4);
  transition: 0.3s all ease-in-out;
}
.dropdown-el input:focus + label {
  font-weight: 700;
}
.dropdown-el input {
  width: 1px;
  height: 1px;
  display: inline-block;
  position: absolute;
  opacity: 0.01;
}
.dropdown-el label {
  display: block;
  cursor: pointer;
  position: relative;
  transition: 0.3s color ease-in-out;
}


.dropdown-el label {
  padding-bottom: 10px;
}

.dropdown-el label:nth-child(2) {
  margin-top: 37px;

}


label[for=sort-relevance], label[for=sort-relevance1] {
  padding-bottom: 19px !important;
}


.dropdown-el::before {
  content: '';
    position: absolute;
    top: 42px;
    width: 211px;
    height: 1px;
    background: #2f4858;

}

.dropdown-el input:checked + label {
  display: block;
  border-top: none;
  position: absolute;
  top: 12px;
  padding-bottom: 20px;
  width: 100%;
  font-weight: 700;
}
.dropdown-el input:checked + label:nth-child(2) {
  margin-top: 0;
  position: relative;
  padding-top: 0px;
  top: 0;
}

.dropdown-el::after {
content: '\003E';
position: absolute;
right: 15px;
font-weight: 700;
top: 20px;
transform: translate(-50%, -50%) rotate(90deg) scaleY(1.75);
transition: all 250ms cubic-bezier(.4,.25,.3,1);
}

.dropdown-el.expanded {
  background: rgba(196, 196, 196, 0.4);
  border-radius: 6px;
  padding: 12px 15px 2px;
  max-height: 15em;
}
.dropdown-el.expanded label:hover {
  font-weight: 700;
}
.dropdown-el.expanded input:checked + label {
  font-weight: 700;
}
.dropdown-el.expanded::after {
  transform: rotate(-90deg) scaleY(1.75);
  top: 0.55em;
}

.dropdownmap {
  display: flex;
  justify-content: center;
  margin: 90px 0 60px;
  font-size: 18px;
  line-height: 21.94px;
  font-family: montserrat-medium;
}


.dropdownmap_text {
  font-family: montserrat-regular;
  font-weight: 500;
  margin: 0 auto;
  display: block;
  text-align: left;
  color: #FFA800;
  padding-bottom: 15px;

}


.mapselect1 {
  padding-right: 30px;
}


@media (max-width: 650px) {
  .dropdownmap {
    flex-direction: column;
    align-items: center;
    margin: 80px 0;
  }

  .mapselect1 {
    padding-right: 0;
    padding-bottom: 40px;
  }

}

@media (max-width: 576px) {
  .dropdownmap {
    font-size: 14px;
    line-height: 17px;
}

}


/* map canvas for google Maps */

#map-canvas {
  max-width: 1366px;
  width: 100%;
  height: 648px;

}

@media (max-width: 768px) {
  #map-canvas {
    height: 812px;
  }

  .ZoomControl {
    display: none;
  }

}

@media (max-width: 610px) {
  #map-canvas {
    height: 606px;
  }

}



/*infowindow settings */




#infowindow {
  background: rgba(255, 168, 0, 0.5);
  display: flex;
  gap: 38px;
  padding: 22px 27px 25px 30px;
  
}

#infowindow p, 
.uznemumi-edinasana p {
  font-family: montserrat-regular;
  font-weight: 400;
  font-size: 18px;
  line-height: 21.94px;
  text-align: right;
}

.infouznemums {
  text-align: right;
}

.AuchUznemums-child1 p {
  padding-top: 30px;
}


.gm-style-iw-d  {
  overflow: hidden !important;
  border-radius: 14px;
}

.gm-ui-hover-effect {
  display: none !important;
}

.gm-style-iw {
  padding: 0 !important;
  overflow: visible !important;
}
.gm-style-iw-t::after {
  display: none;
}

.gm-style .gm-style-iw-c {
  background: none;
  border-radius: 14px;

}


@media (max-width: 576px) {
  #infowindow {
    flex-direction: column;
    align-items: flex-end;
    gap: 0;
    padding: 15px;
  }

  #infowindow img {
    width: 112px;
  }

  #infowindow h3 {
    padding-top: 15px;
  }

  #infowindow h3 {
  font-size: 18px;
  line-height: 27px;
}

#infowindow p {
  font-size: 14px;
  line-height: 17px;
  padding-top: 20px;
}

.gm-style-iw, .gm-style-iw-c {
  max-width: 280px !important;
  width: 280px !important;
}

.img_smaller_mobile{
  width: 76px  !important;
}

}




/* Pop up css settings after selection of mapselect1 and mapselect2 */

.uznemumi-edinasana {
  margin: 150px 271.5px 60px;

}

.uznemumi-edinasana div:nth-child(2) {
  margin-top: 33px;
}

.uznemumi-edinasana-child {
  display: flex;
  align-items: center;
  justify-content: space-between;

}


.sapnusatbalsta_break {
  display: none;
}


@media (max-width: 1366px) {
  .uznemumi-edinasana {
   margin: 150px 80px;
    
  }

  .uznemumi-edinasana img {
    max-width: 98px;
  }
}

@media (max-width: 768px) {


  .sapnusatbalsta_break {
    display: block;
  }

.uznemumi-edinasana {
  margin: 100px 80px 70px;

}
 
  }
    


@media (max-width: 650px) {


.uznemumi-edinasana {
  display: none !important;
}


}



/* footer settings for sapnus atbalsta */

.sapnusatbalsta .footer-wrapper-margin {
  margin-top: -41px;
}

.sapnusatbalsta .zilsfooter {
  z-index: 0;
}



/* Sapnus atbalsta lapa end * /



/* 99 stasti start */



button {
  cursor: pointer;
}

.portfolio-wrapper .div-center {
  text-align: center;
}

#portfolio {
 
  max-width: 1030px;
  margin: 0 auto;
  margin-top: 150px;
  width: 100%;
  position: relative;
  display: grid;
  grid-template-columns: repeat(6, minmax(160px, 1fr));
  grid-auto-rows: 160px;
  grid-gap: 14px;
}


@media (max-width: 1180px) {
  #portfolio {
    grid-gap: 12px;
    grid-template-columns: repeat(5, minmax(142px, 1fr));
    max-width: 761px;
    grid-auto-rows: 142px;
  }
}

@media (max-width: 840px) {
  #portfolio {
    grid-template-columns: repeat(4, minmax(142px, 1fr));
    max-width: 606px;
  }
}

@media (max-width: 768px) {
  #portfolio {
    grid-template-columns: repeat(4, minmax(142px, 1fr));
    margin-top: 80px;
    margin-bottom: 50px;
  }
}

@media (max-width: 660px) {
  #portfolio {
     grid-template-columns: repeat(3, minmax(134px, 1fr));
     grid-auto-rows: 134px;
     max-width: 426px;
  }
 
}

@media (max-width: 468px) {
  #portfolio {
    grid-template-columns: repeat(2, minmax(134px, 1fr));
    grid-auto-rows: 134px;
    max-width: 279px;
    grid-gap: 11px;
 }
}

.project {
  position: relative;
  overflow: hidden;
}
.project img {
  position: absolute;
}
.project p {
  position: relative;
  text-align: center;
  width: 100%;
  z-index: 3;
}
.project .grid__title {
  font-family: oswald-medium;
  font-weight: 700;
  font-size: 36px;
  line-height: 53.35px;
  text-align: right;
  color: white;
  position: absolute;
  width: 100%;
  right: 14px;
  bottom: -10px;
  z-index: 1;
  text-transform: uppercase;
}

.project:hover .grid__overlay {
  transform: translateY(0%);
}

.over {
  opacity: 0.6;
}

.grid__overlay {
  cursor: pointer;
  background: url(/Uzdevums_SandisSirmais/assets/img/zelts.png);
  height: 100%;
  grid-column: 1/-1;
  grid-row: 1/-1;
  position: relative;
  display: grid;
  justify-items: center;
  align-items: center;
  transform: translateY(101%);
  transition: all 0.3s ease-in-out;
}

.viewbutton {
  font-family: oswald-medium;
  font-weight: 700;
  font-size: 24px;
  line-height: 35.57px;
  text-align: center;
  color: white;
}

.grid__overlay button {
  background: none;
  outline: none;
  font-weight: 100;
  letter-spacing: 2px;
  border: 1px solid #ffffff;
  color: #ffffff;
  text-transform: uppercase;
  padding: 10px;
}
.grid__overlay .viewbutton:hover {
  transition: all 0.3s ease-in-out;

}

.overlay {
  position: fixed;
  background: rgba(47, 72, 88, 0.9);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: none;
  z-index: 5;
}

.arta {
  display: none;
}

.overlay.open {
  display: grid;
  overflow-y: scroll;
  align-items: center;
  justify-items: center;
}

.overlay__inner {
  padding: 45px 25px;
  position: relative;
  top: 10%;
  opacity: 1;
}

.close {
  position: absolute;
  font-family: montserrat-regular;
  font-size: 30px;
  top: -27px;
  right: -19px;
  background: none;
  outline: 0;
  color: white;
  border: 0;
  text-transform: uppercase;
}
.close:hover {
  color: #ffa800;
}

.project__image {
  margin-left: -0.8px;
}

.jaunsstasts {
  font-family: oswald-medium;
  font-weight: 700;
  font-size: 18px;
  line-height: 26.68px;
  color: white;
  top: 30%;

}

.video-wrap-iedvesmasstasti {
  position: relative;
  max-width: 911px;
  width: 100%;
  
}




/* video poster frame or placeholder image */
 .placeholder-iedvesmasstasti {
  max-width: 911px;
  width: 100%;
}
/* SVG play button container */
.video-wrap-iedvesmasstasti .play-btn-iedvesmasstasti {
  position: absolute;
  max-width: 700px;
  left: 50%;
  top: 58%;
  transform: translate(-50%, -50%);
  filter: drop-shadow( 0px 3px 7px rgba(0, 0, 0, 0.6));
}



.overlay_text {
  margin-top: 25px;
  font-family: oswald-medium;
  font-weight: 500;
  font-size: 36px;
  line-height: 53.35px;
  text-align: center;
  color: white;
}

@media (max-width: 1220px) {
  .placeholder-iedvesmasstasti {
    width: 800px;
  }

}

@media (max-width: 850px) {
  .placeholder-iedvesmasstasti {
    width: 608px;
  }

  .overlay__inner {
    padding: 25px 25px;
  }

  .close {
    font-size: 25px;
  }

}

@media (max-width: 700px) {
  .placeholder-iedvesmasstasti {
    width: 500px;
  }

  .play-btn-iedvesmasstasti img {
    width: 50px;
  }

}

@media (max-width: 700px) {
  .close {
    right: 25px;
    top: -25px;
    font-size: 20px;
  }
}

@media (max-width: 552px) {
  .placeholder-iedvesmasstasti {
    width: 425px;
  }

}

  @media (max-width: 472px) {
    .placeholder-iedvesmasstasti {
      width: 279px;
    }

    .overlay_text {
      font-size: 24px;
    }
  
  }






/* Komanda start */

.komanda {
  text-align: center;
  margin-top: 150px;
}

@media (max-width: 500px) {

  .komanda {
    margin-bottom: 120px;
  }

}

.komanda > h3:first-child {
  font-size: 30px;
  line-height: 44.46px;
  margin-bottom: 30px;
}

.komanda > p:first-of-type {
  color: #2f4858;
  margin: 0 auto;
  padding: 0 80px
}

@media (max-width: 500px) {
  .komanda > p:first-of-type {
    padding: 0 20px
  }
}


.komanda-foto {
  display: flex;
  justify-content: space-between;
  margin: 60px 168px 0;
}

.komanda-foto-teksts {
  position: absolute;
  width: 100%;
  bottom: 20px;
  z-index: 2;
  padding: 0 8px;
}

.komanda-foto-teksts h3, 
.komanda-foto-teksts p {
  color: #ffffff;
}

.komanda p {
  font-family: montserrat-regular;
  font-weight: 500;
  font-size: 18px;
  line-height: 21.94px;
}

.komanda-foto-child {
  position: relative;
  max-height: 365px;
}

.komanda-foto-img::after {
  content:'';
  position:absolute;
  left:0; top:0;
  width:100%; height:100%;
  display:inline-block;
  background: linear-gradient(180deg, rgba(47, 72, 88, 0.8) 18.63%, rgba(47, 72, 88, 0) 49.21%);
transform: rotate(-180deg);
}


@media (max-width: 1220px) {
  .komanda-foto {
    margin-left: 70px;
    margin-right: 70px;
  }

}

@media (max-width: 1024px) {
  .komanda-foto {
    flex-direction: column;
    align-items: center;
  }

  .komanda-foto img {
    max-width: 352px;
    width: 100%;
    max-height: 443px;
    height: 100%;
  }

  .komanda-foto-child {
    max-height: 443px;
    height: 100%;
    max-width: 352px;
    width: 100%;
  }

  .komanda-foto-child:not(:last-child) {
    margin-bottom: 25px;
  }

  .komanda-foto-teksts {
    bottom: 24px;
  }
}

@media (max-width: 768px) {
  .komanda-foto {
    margin: 90px 20px 0;
}

}

@media (max-width: 500px) {
  .komanda-foto-child {
    max-height: 354px;
    height: 100%;
    max-width: 280px;
    width: 100%;
  }

  .komanda-foto-teksts {
    bottom: 20px;
  }

  .komanda > p:first-of-type {
    font-size: 14px;
    line-height: 17px;
  }

  .komanda-foto {
    margin-top: 80px;
}

.komanda > h3:first-child {
  font-size: 24px;
  line-height: 36px;
}

.komanda {
  margin-top: 120px;
}

}

/*Komanda end*/